@namespace Secyud.Abp.MasaBlazorUi.Components
@implements IDisposable

<MDialog @bind-Value="MessageVisible" Width="512">
    <MCard>
        <MCardTitle>
            @Title
        </MCardTitle>
        <MCardText>
            @if (ShowMessageIcon)
            {
                <MIcon Color="@MessageColor">
                    @MessageIcon
                </MIcon>
            }
            <div>
                @Message
            </div>
        </MCardText>
        <MCardActions>
            @if (IsConfirmation)
            {
                <MButton Color="@StyleColor.Danger" OnClick="@OnCancelClicked">
                    @if (Options?.CancelButtonIcon != null)
                    {
                        <MIcon Left>
                            @Options.CancelButtonIcon
                        </MIcon>
                    }
                    @CancelButtonText
                </MButton>
                <MButton Color="@StyleColor.Primary" OnClick="@OnConfirmClicked">
                    @if (Options?.ConfirmButtonIcon != null)
                    {
                        <MIcon Left>
                            @Options.ConfirmButtonIcon
                        </MIcon>
                    }
                    @ConfirmButtonText
                </MButton>
            }
            else
            {
                <MButton Color="@StyleColor.Primary" OnClick="@OnOkClicked">
                    @if (Options?.OkButtonIcon != null)
                    {
                        <MIcon Left>
                            @Options.OkButtonIcon
                        </MIcon>
                    }
                    @OkButtonText
                </MButton>
            }
        </MCardActions>
    </MCard>
</MDialog>