@page "/"
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Secyud.Abp.AspNetCore.Components.Server.MasaTheme.Bundling
@using Secyud.Abp.AspNetCore.Components.Web.MasaTheme.Components
@namespace Secyud.Abp.AspNetCore.Components.Server.MasaTheme.Demo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI.Bundling

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <title>Demo</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href="https://cdn.masastack.com/npm/fontawesome/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://cdn.masastack.com/npm/materialicons/materialicons.css" rel="stylesheet">
    <link href="https://cdn.masastack.com/npm/@("@mdi")/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

    <abp-style-bundle name="@MasaBlazorThemeBundles.Styles.Global"/>
</head>

<body>
<component type="@typeof(App)" render-mode="Server"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<abp-script-bundle name="@MasaBlazorThemeBundles.Scripts.Global"/>
</body>
</html>