@namespace Secyud.Abp.Pages.PermissionManagement
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
<PModal @bind-Value="@ModalVisible"
        Title="@($"{L["Permissions"]} - {EntityDisplayName}")"
        FormModel="UpdateDto"
        OnSave="SaveAsync"
        OnCancel="CloseModal">
    <MCheckbox @bind-Value="@GrantAll"
               Label="@L["SelectAllInAllTabs"]"/>
    <MDivider/>

    @if (Groups != null)
    {
        <MTabs @bind-Value="@SelectedTabName"
               Vertical>
            @foreach (var group in Groups)
            {
                <MTab Value="@GetNormalizedGroupName(group.Name)">
                    <span>
                        <b>
                            @group.DisplayName ( @(group.Permissions.Count(x => x.IsGranted)) )
                        </b>
                    </span>
                </MTab>
            }
        </MTabs>

        <MTabsItems @bind-Value="@SelectedTabName">
            @foreach (var group in Groups)
            {
                <MTabItem Value="@GetNormalizedGroupName(group.Name)">
                    <MCard>
                        <MCardTitle>
                            @group.DisplayName
                        </MCardTitle>
                    </MCard>
                    <MCardText>
                        <MCheckbox Value="@(group.Permissions.All(x => x.IsGranted))"
                                   ValueChanged="@(b => GroupGrantAllChanged(b, group))"
                                   Label="@L["SelectAllInThisTab"]" Dense/>

                        @foreach (var permission in group.Permissions)
                        {
                            if (permission.ParentName == null)
                            {
                                <MDivider/>
                            }
                            else
                            {
                                <br/>
                            }
                            <MCheckbox Disabled="@(IsDisabledPermission(permission))"
                                       Value="@permission.IsGranted"
                                       ValueChanged="@(b => Changed(b, group, permission))"
                                       Label="@GetShownName(permission)"/>
                        }
                    </MCardText>
                </MTabItem>
            }
        </MTabsItems>
    }

</PModal>